/* Import the Comfortaa font from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

/* Apply box-sizing to all elements */
*, *:after, *:before {
  box-sizing: border-box;
}

/* Set body and HTML styles */
body, html {
  background: #000;
  margin: 0;
  height: 100vh;
  color: #fff;
  font-family: "Comfortaa", cursive;
}

/* Styling for the clock container */
.clock {
  --clock-size: 360px;
  width: var(--clock-size);
  height: var(--clock-size);
  position: fixed;
  inset: 0;
  margin: auto;
  border-radius: 50%;
}

/* Styling for the clock spikes */
.spike {
  position: absolute;
  width: 8px;
  height: 1px;
  background: #fff9;
  line-height: 20px;
  transform-origin: 50%;
  z-index: 5;
  inset: 0;
  margin: auto;
  font-style: normal;
  transform: rotate(var(--rotate)) translateX(var(--dail-size));
}

/* Styling for every 5th spike (hour markings) */
.spike:nth-child(5n+1) {
  box-shadow: -7px 0 #fff9;
}

/* Adding the hour markings (numbers) to the spikes */
.spike:nth-child(5n+1):after {
  content: attr(data-i);
  position: absolute;
  right: 22px;
  top: -10px;
  transition: 1s linear;
  transform: rotate(calc(var(--dRotate) - var(--rotate)));
}

/* Styling for the seconds dial */
.seconds {
  --dRotate: 0deg;
  --dail-size: calc((var(--clock-size)/ 2) - 8px);
  font-weight: 800;
  font-size: 18px;
  transform: rotate(calc(-1 * var(--dRotate)));
  position: absolute;
  inset: 0;
  margin: auto;
  transition: 1s linear;
}

/* Styling for the minutes dial */
.minutes {
  --dail-size: calc((var(--clock-size)/ 2) - 65px);
  font-size: 16px;
  transform: rotate(calc(-1 * var(--dRotate)));
  position: absolute;
  inset: 0;
  margin: auto;
  transition: 1s linear;
}

/* Styling for stopping animation */
.stop-anim {
  transition: 0s linear;
}

/* Stopping animation for minute and hour markings */
.stop-anim .spike:after {
  transition: 0s linear !important;
}

/* Styling for the hour hand */
.hour {
  font-size: 70px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Styling for the minute hand */
.minute {
  font-size: 36px;
  font-weight: 900;
  position: absolute;
  background: #000;
  z-index: 10;
  right: calc(var(--clock-size)/ 4.5);
  top: 50%;
  transform: translateY(-50%);
}

/* Styling for the extension of the minute hand */
.minute:after {
  content: "";
  position: absolute;
  border: 2px solid #fff;
  border-right: none;
  height: 50px;
  left: -10px;
  top: 50%;
  border-radius: 40px 0 0 40px;
  width: calc(var(--clock-size)/ 2.75);
  transform: translateY(-50%);
}
